// HEADER =======================================================
/* HEADER */
.header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	box-shadow: 0 0 rem(6) rgba(0, 0, 0, 0.2);

	// .header__container
	&__container {
		@include adaptiveValue('min-height', 90, 60);
		// @include adaptiveValue('min-height', 80, 50);

		padding-top: rem(5);
		padding-bottom: rem(5);
		display: flex;
		align-items: center;
		// column-gap: rem(20);
		/* Tablet - max-width: 767.98px */
		@media (max-width: $tablet) {
			column-gap: rem(10);
		}
	}
	// .header__logo
	&__logo {
		margin-right: auto;
	}
	// .header__menu
	&__menu {
		// flex: 1 1 auto;
	}
	// .header__menu-lang
	&__lang {
	}
}

/* LOGO */
.logo {
	display: grid;
	grid-template-columns: percent(78, 335) 1fr;
	// display: flex;
	margin-left: rem(-3);
	position: relative;
	z-index: 5;
	// @include adaptiveValue('column-gap', 8, 4);
	@include adaptiveValue('column-gap', 6, 4);
	// т.к. ширина icon в percent(78, 335); при 1310px-64px, 320px-36px - ширина icon
	@include adaptiveValue('padding-right', 64, 36);

	// .logo__img
	&__img {
		img {
		}
	}
	// .logo__desc
	&__desc {
		display: grid;
	}
	// .logo__title
	&__title {
		font-family: 'Dancing Script', cursive;
		font-weight: 700;
		color: #000;
		white-space: nowrap;
		// @include adaptiveValue('font-size', 48, 26);
		@include adaptiveValue('font-size', 36, 22);
	}
	// .logo__text
	&__text {
		font-family: $main-font-family;
		display: inline-flex;
		column-gap: em(5, 16);
		align-items: center;
		// @include adaptiveValue('font-size', 16, 10);
		@include adaptiveValue('font-size', 14, 9);
	}
	// .logo__icon
	&__icon {
		// max-width: em(13.5, 16);
		max-width: em(13.5, 16);
	}
}

/* MENU */
.menu {
	display: flex;
	column-gap: 20px;
	row-gap: 10px;
	align-items: center;
	justify-content: flex-end;
	// .menu__body
	&__body {
		// выпадающее меню
		@media (max-width: $tablet) {
			position: fixed;
			width: 70%;
			height: 100%;
			// background-color: $section-background-color;
			background-color: #fff;
			right: -100%;
			top: 0%;
			padding-top: rem(100);
			@include adaptiveValue('padding-top', 100, 80, 768, 320);
			padding-left: rem(20);
			padding-right: rem(20);
			padding-bottom: rem(30);
			overflow-y: auto;
			transition: right 0.5s linear 0s;
			.menu-open & {
				right: 0;
			}
			// плашка
			&::before {
				content: '';
				position: fixed;
				width: 100%;
				@include adaptiveValue('height', 98, 68);
				top: 0;
				left: -100%;
				background-color: #fff;
				z-index: 2;
				transition-delay: 0.5s;
				.menu-open & {
					left: 0;
					transition-delay: 0s;
				}
			}
		}
		@media (max-width: $mobileL) {
			width: 100%;
		}
	}
	// .menu__arrow
	&__arrow {
		// стрелка в виде треугольника
		// display: block;
		// width: 0;
		// height: 0;
		// margin: 0 0 0 5px;
		// border-left: 5px solid transparent;
		// border-right: 5px solid transparent;
		// border-top: 10px solid #000;
	}
	// .menu__list
	&__list {
		@media (min-width: em(768)) {
			@include adaptiveValue('column-gap', 30, 20, $containerWidth, 768, 1);
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			row-gap: rem(3);
		}
		// @media (max-width: $tablet) {
		// так не делать, если есть выпадающее меню
		// 	flex-direction: column;
		// 	align-items: start;
		// 	row-gap: rem(20);
		// }
	}
	// .menu__item
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: em(6, 18);
		@include adaptiveValue('font-size', 18, 16, $containerWidth, 768, 1);
		flex-wrap: wrap;
		// column-gap: 10px;
		@media (max-width: $tablet) {
			font-size: rem(24);
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
		// .menu__item_phone
		&_phone {
			// display: none;
		}
		.sub-menu {
			// .sub-menu__list
			&__list {
				padding: rem(10);
				@media (min-width: em(768)) {
					background-color: #fff;
					border: rem(1) solid rgba($text-color, 0.2);
					border-radius: rem(5);
					left: 0;
					// width: 200px;
				}
				@media (max-width: $tablet) {
					font-size: rem(20);
				}
			}
			// .sub-menu__item
			&__item {
				&:not(:last-child) {
					margin-bottom: rem(10);
				}
				@media (max-width: $tablet) {
					&:not(:last-child) {
						margin-bottom: rem(16);
					}
				}
			}
			&_right {
			}
		}
		// .menu__item:hover
		@media (any-hover: hover) {
			&:hover {
				.sub-menu {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 0);
				}
				.arrow {
					&::before {
						transform: translateX(-75%) rotate(-40deg);
					}
					&::after {
						transform: translateX(-5%) rotate(40deg);
					}
				}
				.menu__link span {
					&::after {
						width: 100%;
						left: 0;
					}
				}
			}
		}
		// .menu__item._active
		&._active {
			.sub-menu {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				transform: translate(0, 0);
				@media (max-width: $tablet) {
					display: block;
				}
			}
			.arrow {
				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}
				&::after {
					transform: translateX(-5%) rotate(40deg);
				}
			}
			.menu__link span {
				&::after {
					width: 100%;
					left: 0;
				}
			}
		}
	}
	// .menu__link
	&__link {
		flex: 1 1 auto; // для выпадающего меню
		// font-size: rem(18);
		// @include adaptiveValue('font-size', 18, 16, $containerWidth, 768, 1);
		line-height: math.div(26, 18);
		color: $main-color;
		/* @media (max-width: $tablet) {
			font-size: rem(24);
		} */

		/* эффект плавного подчеркивания */
		// .menu__link span
		span {
			position: relative;
			// .menu__link span::after
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 0;
				height: em(1.2, 18);
				background-color: $main-color;
				border-radius: em(1, 18);
				transition: all 0.3s ease 0s;
			}
		}
		// .menu__link._active span::after
		&._active {
			span {
				&::after {
					width: 100%;
					left: 0;
				}
			}
		}

		@media (any-hover: hover) {
			// .menu__link:hover span::after
			&:hover {
				span {
					&::after {
						width: 100%;
						left: 0;
					}
				}
			}
		}
		@media (hover: none) {
			// .menu__link:active span::after
			&:active {
				span {
					&::after {
						width: 100%;
						left: 0;
					}
				}
			}
		}
	}
	// .menu__sub-menu
	&__sub-menu {
	}
	// .menu__contacts
	&__contacts {
	}
}

/* BURGER icon */
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: inline-flex;
		position: relative;
		flex: 0 0 rem(26);
		/* width: 30px; */
		height: rem(16);
		cursor: pointer;
		z-index: 5;
		// .icon-menu span, .icon-menu::before, .icon-menu::after
		span,
		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: rem(3);
			background-color: $main-color;
			border-radius: rem(2);
		}
		// .icon-menu span
		span {
			top: 50%;
			transition: background-color 0.3s linear 0.3s;
		}
		// .icon-menu::before, .icon-menu::after
		&::before,
		&::after {
			content: '';
			top: 0;
			transition: top 0.3s linear 0.3s, transform 0.3s linear 0s;
			// transition-property: top, transform;
			// transition-timing-function: linear;
			// transition-duration: 0.3s, 0.3s;
			// transition-delay: 0.3s, 0s;
		}
		// .icon-menu::after
		&::after {
			top: 100%;
		}

		// .menu-open .icon-menu span
		.menu-open & {
			span {
				transition-delay: 0.1s;
				background-color: transparent;
			}
			// .menu-open .icon-menu::before, .icon-menu::after
			&::before,
			&::after {
				top: 50%;
				transition: top 0.3s linear 0s, transform 0.3s linear 0.3s;
				// transition-delay: 0s, 0.3s;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}

/* LANGUAGE */
.lang {
	position: relative;
	z-index: 2;
	@media (any-hover: hover) {
		&:hover &__list {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			top: 100%;
		}
	}
	// .lang__button
	&__button {
		padding: 0;
		// padding: rem(10);
		/* width: rem(40);
		height: rem(40); */
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(30);
		height: rem(30);
		/* & img {
			max-width: rem(22);
		} */
		& svg {
			width: rem(22);
			height: rem(22);
		}
	}
	// .lang__list
	&__list {
		position: absolute;
		font-size: rem(18);
		display: flex;
		row-gap: rem(15);
		align-items: center;
		flex-direction: column;
		top: 100%;
		// right: 0;
		left: 50%;
		transform: translateX(-50%);
		background: #fff;
		padding: rem(10);
		// transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.5s ease 0s;

		// .lang._active .lang__list
		.lang._active & {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			top: 100%;
		}
	}
	// .lang__item
	&__item {
	}
	// .lang__link
	&__link {
		// .lang__link._active
		&._active {
			text-decoration: underline;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (hover: none) {
			&:active {
				text-decoration: underline;
			}
		}
	}
}

/* CONTACT MENU */
.contacts-menu {
	display: flex;
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;
	@media (max-width: $tablet) {
		flex-direction: row-reverse;
	}
	// .contacts-menu__link
	&__link {
		display: flex;
		align-items: center;
		column-gap: 6px;
		@media (any-hover: hover) {
			&:hover {
				.social-icon_whats-app {
					color: #25d366;
					& svg {
						fill: currentColor;
					}
				}
				.social-icon_whats-app {
					color: #25d366;
					& svg {
						fill: currentColor;
					}
				}
			}
		}
		@media (hover: none) {
			&:active {
				.social-icon_whats-app {
					color: #25d366;
					& svg {
						fill: currentColor;
					}
				}
			}
		}

		.contact-icon,
		.social-icon {
			/* flex: 0 0 rem(28);
			width: rem(28);
			height: rem(28); */
			flex: 0 0 28px;
			width: rem(28);
			height: rem(28);
			background-color: transparent;
			color: rgba($main-color, 0.8);
			& svg {
				width: rem(18);
				height: rem(18);
				fill: currentColor;
			}
			&_whats-app {
				position: relative;
				z-index: 2;
				& svg {
					width: rem(24);
					height: rem(24);
				}
			}
		}
	}
	// .contacts-menu__icon
	&__icon {
	}
	// .contacts-menu__text
	&__text {
		@media (max-width: $laptop) {
			display: none;
		}
		white-space: nowrap;
	}
}
